<tr>
  <th scope="row">{{format_date start_time}}</th>
  <td>{{format_time start_time}}</td>
  <td>{{duration}} mins</td>
  <td>{{topic}}</td>
  <td>{{location}}</td>
  {{#if superintendent_id}}
    {{#if superintendent_signedOff}}
      <td class="signed-on" data-session-id="{{id}}" data-user-role="superintendent_signedOff"><i
          class="bi bi-check-square-fill"
          style="color:green"
        ></i>
        {{superintendent.first_name}}
        {{superintendent.last_name}}</td>
    {{else}}
      <td class="signed-off" data-session-id="{{id}}" data-user-role="superintendent_signedOff"><i
          class="bi bi-x-square-fill"
          style="color:red"
        ></i>
        {{superintendent.first_name}}
        {{superintendent.last_name}}</td>
    {{/if}}
  {{else}}
    <td></td>
  {{/if}}
  {{#if senior_coordinator_id}}
    {{#if senior_coordinator_signedOff}}
      <td class="signed-on" data-session-id="{{id}}" data-user-role="senior_coordinator_signedOff"><i
          class="bi bi-check-square-fill"
          style="color:green"
        ></i>
        {{senior_coordinator.first_name}}
        {{senior_coordinator.last_name}}</td>
    {{else}}
      <td class="signed-off" data-session-id="{{id}}" data-user-role="senior_coordinator_signedOff"><i
          class="bi bi-x-square-fill"
          style="color:red"
        ></i>
        {{senior_coordinator.first_name}}
        {{senior_coordinator.last_name}}</td>
    {{/if}}
  {{else}}
    <td></td>
  {{/if}}
  {{#if supervisor_id}}
    {{#if supervisor_signedOff}}
      <td class="signed-on" data-session-id="{{id}}" data-user-role="supervisor_signedOff"><i
          class="bi bi-check-square-fill"
          style="color:green"
        ></i>
        {{supervisor.first_name}}
        {{supervisor.last_name}}</td>
    {{else}}
      <td class="signed-off" data-session-id="{{id}}" data-user-role="supervisor_signedOff"><i
          class="bi bi-x-square-fill"
          style="color:red"
        ></i>
        {{supervisor.first_name}}
        {{supervisor.last_name}}</td>
    {{/if}}
  {{else}}
    <td></td>
  {{/if}}

</tr>

{{!-- <td><i class="bi bi-x-square-fill"></i> Pending</td>

<tr>
  <th scope="row">{{format_date start_time}}</th>
  <td>{{format_time start_time}}</td>
  <td>{{duration}} mins</td>
  <td>{{topic}}</td>
  <td>{{location}}</td>
  {{#if superintendent_id}}
    <td>{{superintendent.first_name}} {{superintendent.last_name}}</td>
  {{else}}
    <td>None</td>
  {{/if}}
  {{#if senior_coordinator_id}}
    <td>{{senior_coordinator.first_name}} {{senior_coordinator.last_name}}</td>
  {{else}}
    <td>None</td>
  {{/if}}
  {{#if supervisor_id}}
    <td>{{supervisor.first_name}} {{supervisor.last_name}}</td>
  {{else}}
    <td>None</td>
  {{/if}}

</tr> --}}